header {
    background-color:rgba(65, 18, 6, 0.767);
    color:white;
    text-align:center;
    padding:5px;	 
    font-style: italic;
}
nav {
    line-height:30px;
    background-color:rgba(65, 18, 6, 0.25);
    height:300px;
    width:150px;
    float:left;
    padding:20px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}